<!DOCTYPE HTML>
<head>
    <title>Langgar Media Monitoring Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.min.css') }}">

{%- if var != "index" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pagination.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/news.css') }}">
{%- endif %}

{%- if var == "index" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{%- endif %}
    
{%- if var == "mediashare" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/share.css') }}">    
{%- endif %}

{%- if var == "mediasummary" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/summary.css') }}">
{%- endif %}
    
{%- if var == "wordfrequency" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/word.css') }}">
{%- endif %}
    
{%- if var == "keyopinionleader" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kol.css') }}">
{%- endif %}

</head>
<body>
    <header>
        <ul class="navbar" id="left">
            <li><div><a href="/data"><h2>Dashboard</h2></a></div></li>
            <li><div><a href="#">News Media</a></div></li>
            <li><div><a href="#">Social Media</a></div></li>
        </ul>
        <ul class="navbar" id="right">
            <li><div><a href="/data/mediashare">Media Share</a></div></li>
            <li><div><a href="/data/mediasummary">Media Summary</a></div></li>
            <li><div><a href="/data/wordfrequency">Word Frequency</a></div></li>
            <li><div><a href="/data/keyopinionleader">Key Opinion Leader</a></div></li>
            <li id="signout"><div><a href="/auth/logout"><img id="logout" src="{{ url_for('static', filename='img/logout.png')}}"></a></div></li>
        </ul>
    </header>

    <div id="search">
        <div class="body">
            <form name="search">
                <div id="keyword">
                    <input type="text" id="keyword" name="keyword" placeholder="Keyword">
                </div>
                <div id="space">&nbsp;</div>
                <div id="date">
                    <input datepicker data-auto-close="true" data-date-format="yyyy-mm-dd" type="text" name="date_start" placeholder="Start Date">
                    <input datepicker data-auto-close="true" data-date-format="yyyy-mm-dd" type="text" name="date_end" placeholder="End Date">
                </div>
                &nbsp;
                <div id="button">
                    <input type="button" value="Analyze" onclick="save_session()">
                </div>
            </form>
        </div>
    </div>
    <div id="media-list">
        <form name="media" style="display:table;width: 100%;">
            <select style="width:90%;" id="medlist" name="medlist" multiple="multiple" data-placeholder="Select your media"></select>
            <div style="margin-top:10px;margin-bottom:10px;">
            	<select style="width:90%;" id="kol" name="kol" multiple="multiple" data-placeholder="Select your key opinion leader">
            	</select>
            </div>
            <div style="margin-bottom: 10px;">
                <span style="margin-right:20px;"><input type="checkbox" value="all" onclick="select_all()" data-clicked="false"> Select All Media </span>
                <input type="radio" value="D" name="interlude">per day
                <input type="radio" value="W" name="interlude">per week
                <input type="radio" value="M" name="interlude">per month
                <input type="radio" value="Q" name="interlude">per quarter
            </div>
        </form>
    </div>

    {%-if var != "index" %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    {%-endif%}

    <div id="result">
        {%-if var == "index" %}
            <div id="medshare" class="lazy">
                <h1>Mediashare</h1>
            </div>
            <br>
            <div class="double">
                <div id="medsum" class="lazy">
                    <h1>Media summary</h1>
                    <br>
                </div>
                <div id="separator" style="width:1%;height:300px;">
                    &nbsp;
                </div>
                <div id="keyop" class="lazy">
                    <h1>Key Opinion Leader</h1>
                    <br>
                </div>
            </div>
            <br style="clear:both;">
            <div id="word" class="lazy">
                <h1>Word Frequency</h1>
            </div>
        {%-endif %}
    </div>

    {%-if var != "index" %}
    <div id="related-news">
        <h1>Related Articles</h1>
        <div id="total-articles"></div>
        <div id="sort-by">
            <div style="float:left;">
                <input name="order" type="radio" value="desc"  onchange="get_news()" checked="checked"> Z-A
                <input name="order" type="radio" value="asc"  onchange="get_news()"> A-Z
            </div>
            <div  style="float:right;">
                sort by
                <select id="sort-property" onchange="get_news()">
                    <option value="publish">Publish time</option>
                    <option value="timestamp">Crawled time</option>
                    <option value="title">Article's title</option>
                </select>
            </div>
        </div>
        <input id="list-news" type="hidden" data-from="0" data-size="10">
        <ul>
            
        </ul>
        <div id="pagination">
        </div>
    </div>
    {%-endif %}

    {%-if var == "index" %}
    <div id="footer">
        <img src="{{ url_for('static', filename='img/logo.png') }}"><br>
        Backed from Langgar.co
    </div>
    {%-endif%}

</body>
<script>
    var USERNAME = "{{ session.token }}";
</script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/c3/c3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
{%-if var != "index" %}
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
    <script src="{{ url_for('static', filename='js/news.js') }}"></script>
{%-endif %}

{%-if var == "index" %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{%-endif %}

{%-if var == "mediashare" %}
    <script src="{{ url_for('static', filename='js/medshare.js') }}"></script>
{%-endif %}

{%-if var == "mediasummary" %}
    <script src="{{ url_for('static', filename='js/medsum.js') }}"></script>
{%-endif %}

{%-if var == "wordfrequency" %}
    <script src="{{ url_for('static', filename='js/wordfrequency.js') }}"></script>
{%-endif %}

{%-if var == "keyopinionleader" %}
    <script src="{{ url_for('static', filename='js/kol.js') }}"></script>
{%-endif %}

</html>
