/* Start media share */
body {
  overflow-x:hidden;
  background:white;
}

.lazy {
  background:white;
  min-height: 300px;
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

#result {
  margin-top: 10px;
  font-family: Arial!important;
  height: 100%;
  background: #f1f1f1;
}

#medshare {
  background: white;
  width: 420px;
}

.tooltip.hidden {
    opacity: 0;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  /*shape-rendering: crispEdges;*/
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar {
  fill: #FF9800;
}

.bar:hover {
  cursor: pointer;
  fill: #E64A19;
}

.tick {
  color: blue;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.select2-results__option[aria-selected="true"] {
  display: none!important;
}
/*End media share*/

/*Start media summary*/

/*End media summary*/

/*Start key opinion leader*/

/*End key opinion leader*/