#related-news {
  width: 52%;
  margin:0 auto;
}

#related-news #pagination{
  margin: 0 auto;
  text-align: center
}

#related-news #pagination {
  
}

#related-news > ul {
  font-size: 13px;
  text-align: center;
}

#related-news > ul li {
  cursor: default;
  text-align: left;
  display: block;
  padding: 20px;
  background-color: #fffffe;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-top: 3px solid #f1f1f3 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#related-news > ul li .title{
  font-size: 20px;
  margin-bottom: 5px;
}

#related-news > ul li div{
  display: block;
  line-height: 20px!important;
}

#related-news > ul li .url > a{
  color: #2979FF!important;
}

#related-news > ul li .url > a:hover{
  text-decoration: underline;
}

#related-news > ul li:hover {
  
}