body {
  background-color: #f1f1f3 !important;
}

.content {
  background: white!important;
  padding-top: 10px;
}

#result {
  background-color: white!important;
}

#related-news {
  width: 40%;
  margin:0 auto;
}

#related-news #pagination{
  margin: 0 auto;
  text-align: center
}

#related-news #pagination {
  
}

#related-news > ul {
  font-size: 13px;
  text-align: center;
}

#related-news > ul li {
  cursor: default;
  text-align: left;
  display: block;
  padding: 20px;
  background-color: #fffffe;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-top: 3px solid #f1f1f3 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#related-news > ul li .title{
  font-size: 20px;
  margin-bottom: 5px;
}

#related-news > ul li div{
  display: block;
  line-height: 20px!important;
}

#related-news > ul li .url > a{
  color: #2979FF!important;
}

#related-news > ul li .url > a:hover{
  text-decoration: underline;
}

#related-news > ul li:hover {
  
}

.tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(1,1,1,0.3);
}

.tooltip.hidden {
    opacity: 0;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  /*shape-rendering: crispEdges;*/
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.d3-tip {
  font: 13px sans-serif;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}